<div class="bs-example">
    <form role="form" name="form1">
        <div class="form-group">
            <p>welcome:{{user.email}}</p>
            <lable for="exampleInputEmail1">email</lable>
            <input type="text" placeholder="Enter name" class="form-control" required ng-model="user.email">
        </div>
        <div class="form-group">
            <lable for="exampleInputPassword1">Password</lable>
            <input type="password" placeholder="Password" id="exampleInputPassword1" class="form-control" required ng-model="user.password">

        </div>
        <button class="btn btn-default" type="submit" ng-disabled="form1.$invalid" ng-click="login(user)">submit</button>
        <p>{{msgTxt}}</p>
    </form>
</div>